<div class="apContainer">
  <h1>Bem Vindo</h1>
  <div class="imageBox">
    <img src="/../../../../assets/standLogo.png" alt="image" />
  </div>
  <div class="actions">
    <div class="item">
      <img src="../../../../assets/email.svg" alt="" />
      <a href="mailto:standshow@standshow.com.br" target="_blank"
        >standshow@stand<br />show.com.br</a
      >
    </div>
    <div class="item">
      <img src="../../../../assets/instagram.svg" alt="" />
      <a href="https://instagram.com/grupostandshow" target="_blank"
        >@grupostandshow</a
      >
    </div>
    <div class="item">
      <img src="../../../../assets/local.svg" alt="" />
      <p>
        Rua Ana Lúcia Dias,101 Lagoa Redonda <br />
        CEP 60831-500 <br />
        Fortaleza CE | Brasil
      </p>
    </div>
  </div>
</div>
