<div class="apContainer">
  <h1>Bem Vindo</h1>
  <div class="imageBox">
    <p>Admin Logo</p>
  </div>
  <div class="actions">
    <div class="item">
      <img src="../../../../assets/email.svg" alt="" />
      <a href="/" target="_blank"
        >admin@admin.com.br</a
      >
    </div>
    <div class="item">
      <img src="../../../../assets/instagram.svg" alt="" />
      <a href="/" target="_blank"
        >@grupoadmin</a
      >
    </div>
    <div class="item">
      <img src="../../../../assets/local.svg" alt="" />
      <p>
        Rua Eusébio de Queiroz, XXXX <br />
        CEP XXXXX-XXX <br />
        Fortaleza CE | Brasil
      </p>
    </div>
  </div>
</div>
