<label for="mh" class="mH">
  <p></p>
  <p></p>
  <p></p>
</label>
<input type="checkbox" id="mh" style="display: none" />
<header #header>
  <div class="logo">
    <p>Admin Logo</p>
  </div>
  <div class="profile-menu">
    <ul class="menu">
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li class="logout" (click)="logout()">
        <img src="../../../../assets/logout.svg" alt="" /><span>Sair</span>
      </li>
    </ul>
    <div class="prof-logout">
      <div class="profile" (click)="redirect()" #profile>
        <img src="../../../../assets/profile.svg" alt="" />
        <span>{{ userName }}</span>
      </div>
    </div>
  </div>
</header>