header {
  background-color: #fff;
  max-width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
  gap: 30px;
  padding: 0 60px;
  margin-bottom: 60px;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}

header.night {
  background-color: #0a0a0a;
  color: #fff;
  border-bottom: 0.5px solid #fff7;
}

header.night a {
  color: #fff;
}

span {
  font-size: 14px;
}

.profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 122px;
  height: 49px;
}

.logout {
  background-color: #295e59;
  color: #fff;
  cursor: pointer;
  min-width: 77px;
  min-height: 32px;
  max-width: 77px;
  max-height: 32px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 5px;
  padding-left: 5px;
}

.profile-menu {
  width: 55%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 30px;
}

.profile-menu .menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.profile-menu a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.profile-menu a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #295e59;
  width: 0;
  height: 2px;
  border-radius: 10px;
  transition: all 0.35s;
}

.profile-menu li:hover a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #295e59;
  width: 100%;
  height: 2px;
}

.profile {
  position: relative;
}
/* 
.profile > .prof-logout {
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
}

.profile > img,
.profile > span {
  z-index: 99;
}

.profile > .prof-logout {
  background-color: #f5f5f5;
  width: 200px;
  border: 0.5px solid #0004;
  position: absolute;
  z-index: 3;
  right: -40px;
  top: 52.05px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.5s;
}

.profile.actived > .prof-logout {
  background-color: #fafafa;
  height: 200px;
  width: 200px;
}

.profile.actived > .prof-logout * {
  width: auto;
  height: auto;
}

.profile.actived > .prof-logout .logout {

}

.profile.actived > .prof-logout .logout span {
  color: #fff;
} */

.prof-logout {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 1040px) {
  .mH {
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mH p {
    background-color: #295e59;
    width: 100%;
    height: 5px;
  }

  header {
    width: 0;
    height: 0;
    border: none;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    position: absolute;
    z-index: 99;
    top: -5vh;
    left: -5vw;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 30px;
    transition: all 0.5s;
  }

  header .logo {
    width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  input[type="checkbox"]:checked ~ header {
    min-width: 250px;
    max-width: 300px;
    height: 500px;
    top: 0;
    left: 0;
  }
}
