<div class="dashboardContainer" #dashboard>
  <app-header></app-header>
  <div class="main">
    <div #table class="table">
      <app-users></app-users>
    </div>

    <ng-template #error>
      <div
        class="errors"
        [ngStyle]="{ 'min-width': 'fit-content', 'margin-right': '30%' }"
      >
        <p>Usuário não encontrado! Verifique se você pesquisou corretamente.</p>
      </div>
    </ng-template>

    <div class="actionsAndFilters">
      <form class="forms acoes">
        <h3>Ações</h3>
        <div class="form-group">
          <label for="search"> Buscar usuário:</label>
          <div class="searchInput">
            <input
              type="search"
              id="search"
              class="search"
              (input)="searchUsers($event)"
            />
            <button type="submit" (click)="requestUsers()">Cancelar</button>
          </div>
        </div>
        <div class="form-group">
          <div class="theme">Alterar tema:</div>
          <div class="t">
            <a href="dashboard" (click)="lightTheme()">
              <fa-icon [icon]="sun"></fa-icon>
              Claro
            </a>
          </div>
          <div class="t">
            <a href="dashboard?theme=night">
              <fa-icon [icon]="moon"></fa-icon>
              Escuro
            </a>
          </div>
        </div>
        <div class="form-group">
          <div class="filter">Filtros:</div>
          <p><input type="checkbox" name="id" value="id" />Filtar por ID</p>
          <p>
            <input type="checkbox" name="roleId" value="roleId" />Filtrar por
            nível de acesso
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
