<div class="dashboardContainer" #dashboard>
  <app-header></app-header>
  <div class="main">
    <div #table class="table">
      <!-- <app-users [search]="search!"></app-users> -->
      <div #usersContainer class="uContainer">
        <div *ngFor="let user of usersArr" class="usersContainer">
          <div class="users">
            <div class="profile">
              <img src="../../../../assets/profile.svg" alt="" />
              <div>
                <span>{{ user.name }}</span>
                <span>{{ user.Roles!.Role }}</span>
              </div>
            </div>
            <div class="email">{{ user.email }}</div>
            <div class="edit-status">
              <div class="edit-block">
                <div *ngIf="roleId == '4'" (click)="editAction(user.id!)">
                  <img
                    src="../../../../assets/edit.svg"
                    alt="editar"
                    title="editar"
                    class="actions"
                  />
                  Editar
                </div>

                <div class="status">
                  <div
                    class="on-off"
                    *ngIf="isLoged == true && usersId[0] == user.id; else off"
                  >
                    <div
                      [ngStyle]="{
                        'background-color': '#0f4',
                        'box-shadow': ' 0 0 3px 0 #0f4,0 0 4px 0px #0f4'
                      }"
                    ></div>
                    <span>Online</span>
                  </div>
                  <ng-template #off>
                    <div class="on-off">
                      <div
                        [ngStyle]="{
                          'background-color': 'red',
                          'box-shadow': '0 0 3px 0 red, 0 0 4px 0px red'
                        }"
                      ></div>
                      <span>Offline</span>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <ng-template #tr>
            <div>
              <div *ngFor="let user of userEdit" class="usersContainer">
                <div class="profile">
                  <img src="../../../../assets/profile.svg" alt="" />
                  <div>
                    <span>{{ user.name }}</span>
                    <span>{{ user.Roles!.Role }}</span>
                  </div>
                </div>
                <div class="email">{{ user.email }}</div>
                <div class="edit-status">
                  <div class="edit-block">
                    <div *ngIf="roleId == '4'" (click)="editAction(user.id!)">
                      <img
                        src="../../../../assets/edit.svg"
                        alt="editar"
                        title="editar"
                        class="actions"
                      />

                      Editar
                    </div>
                    <div *ngIf="roleId != '4'">
                      <img
                        src="../../../../assets/block.svg"
                        alt="bloqueado"
                        title="bloqueado"
                      />
                      Bloqueado
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <ng-template #error>
      <div
        class="errors"
        [ngStyle]="{ 'min-width': 'fit-content', 'margin-right': '30%' }"
      >
        <p>Usuário não encontrado! Verifique se você pesquisou corretamente.</p>
      </div>
    </ng-template>

    <div class="actionsAndFilters">
      <form class="forms acoes">
        <h3>Ações</h3>
        <div class="form-group">
          <label for="search"> Buscar usuário:</label>
          <div class="searchInput">
            <input
              type="search"
              id="search"
              class="search"
              (input)="searchUsers($event)"
            />
            <button type="submit" (click)="requestUsers()">Cancelar</button>
          </div>
        </div>
        <div class="form-group">
          <div class="theme">Alterar tema:</div>
          <div class="t">
            <a href="dashboard" (click)="lightTheme()">
              <fa-icon [icon]="sun"></fa-icon>
              Claro
            </a>
          </div>
          <div class="t">
            <a href="dashboard?theme=night">
              <fa-icon [icon]="moon"></fa-icon>
              Escuro
            </a>
          </div>
        </div>
        <div class="form-group">
          <div class="filter">Filtros:</div>
          <p><input type="checkbox" name="id" value="id" />Filtar por ID</p>
          <p>
            <input type="checkbox" name="roleId" value="roleId" />Filtrar por
            nível de acesso
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
