.dashboardContainer {
  background-color: #f7f7f7;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100vh;
  padding-bottom: 90px;
}

.dashboardContainer::-webkit-scrollbar {
  width: 5px;
  background-color: #295e59;
}

.dashboardContainer::-webkit-scrollbar-track-piece {
  background-color: #295e59;
}

.dashboardContainer.night {
  background-color: #0a0a0a;
  color: #fff;
}

.dashboardContainer a {
  color: #000;
}

.dashboardContainer.night a {
  color: #fff;
}

.dashboardContainer.night .forms {
  background-color: #050505;
  box-shadow: none;
}

.dashboardContainer.night .form-group div:first-child,
.dashboardContainer.night .form-group label {
  width: 50%;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

.main {
  max-width: 100%;
  display: flex;
  gap: 45px;
  padding: 0px 60px;
}

.table {
  width: 100%;
  margin-bottom: 90px;
}

.usersContainer > .users {
  background-color: #fff;
  width: 100%;
  height: 73px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  padding: 0 15px;
}

.night .usersContainer > .users {
  background-color: #050505;
  color: #fff;
  box-shadow: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile div {
  display: grid;
}

.profile div span:first-child {
  font-weight: lighter;
}

.profile div span:last-child {
  color: #a9a9a9;
  font-size: 12px;
  font-weight: bold;
}

.usersContainer .email {
  color: #a9a9a9;
  font-size: 16px;
  font-weight: bold;
}

.edit-status img {
  height: 15px;
  width: 15px;
}

.edit-status .edit-block div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-status .status {
  color: #a9a9a9;
  font-weight: bold;
  font-size: 12px;
}

.edit-status .status .on-off {
  display: flex;
  align-items: center;
  gap: 5px;
}

.edit-status .status .on-off div {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

@media (max-width: 616px) {
  .uContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
  }

  .users {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 200px;
    flex-flow: column;
    position: relative;
  }

  .users .profile {
    width: 100%;
    text-align: start;
    margin: 10px;
  }

  .users .email {
    width: 80%;
    height: 50%;
    overflow: auto;
    word-wrap: break-word;
    text-align: justify;
  }

  .users .edit-status {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .users .edit-status .status {
    position: absolute;
    top: 25px;
    right: 325%;
  }

  .users .edit-status .status span {
    display: none;
  }
}

@media (max-width: 603px) {
  .edit-status {
    position: absolute;
    margin-top: 45px;
    left: 15px;
  }

  .users .edit-status .status {
    position: absolute;
    top: -20px;
    right: 85%;
  }

  .users .edit-status .status span {
    display: none;
  }
}

.forms {
  background-color: #fff;
  min-width: 350px;
  min-height: 275px;
  display: grid;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.25);
  padding: 15px 15px 30px 15px;
  position: sticky;
  top: 120px;
}

.actionsAndFilters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.forms h3 {
  text-align: center;
  margin-bottom: 10px;
}

.form-group div:first-child,
.form-group label {
  width: 50%;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}

.form-group p,
.t a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actionsAndFilters .forms label,
.theme,
.filter {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 3px;
}

.actionsAndFilters .forms .form-group .searchInput {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.actionsAndFilters .forms .searchInput input {
  background-color: #f5f5f5;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.actionsAndFilters .forms button {
  background-color: #295e59;
  border: none;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
}

.theme ~ .t {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.theme ~ .t a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.theme ~ .t .sun-moon {
  color: #000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 5px;
}

.dashboardContainer.night .sun-moon fa-icon {
  color: #fff;
  stroke: 10;
}

.theme ~ .t img {
  width: 12px;
  height: 12px;
}

.filter ~ p {
  margin-left: 15px;
}

.filter ~ p div {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f5f5f5;
}

.dashboardContainer.night .forms input,
.dashboardContainer.night .forms .searchInput input,
.dashboardContainer.night .forms select {
  background-color: #000;
  color: #f5f5f5;
  border: 0.5px solid #fff4;
}

@media (max-width: 1376px) {
  .dashboardContainer .main {
    flex-direction: column-reverse;
  }

  .forms {
    max-width: 40vw;
  }

  .forms .form-group {
    max-width: 100%;
  }
}

@media (max-width: 678px) {
  .main {
    padding: 90px 30px;
  }
}
