.rContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.registerContainer {
  max-width: 80vw;
  min-height: 65vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "aprs reg reg";
  border-radius: 20px;
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.25);
}

app-apresentation {
  grid-area: aprs;
}

app-register-form {
  grid-area: reg;
}

@media (max-width: 993px) {
  .registerContainer {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
}

@media (max-width: 778px) {
  .registerContainer {
    box-shadow: none;
  }
}
