.formContainer {
  height: 100%;
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 8px 30px;
}

.forms {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "name email"
    "pass cpf"
    "btn .";
  column-gap: 20px;
  row-gap: 45px;
  padding: 30px 0;
}

.forms .form-group {
  width: 100%;
  height: fit-content;
  font-size: 14px;
  display: grid;
}

.form-group label {
  height: fit-content;
  border-left: 3px solid var(--green);
  margin-bottom: 5px;
  padding-left: 5px;
}

.form-group input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.forms .name-group {
  grid-area: name;
}
.forms .email-group {
  grid-area: email;
}
.forms .pass-group {
  grid-area: pass;
}
.forms .cpf-group {
  grid-area: cpf;
}

.sendBtn {
  grid-area: btn;
  background-color: var(--green);
  color: #fff;
  max-width: 90px;
  height: 25px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.7px;
  transition: all 0.3s;
}

.sendBtn:hover {
  background-color: #003604;
}

@media (max-width: 993px) {
  .formContainer {
    width: 70vw;
    border: none;
  }

  .formContainer h1 {
    border-bottom: 2px solid var(--green);
  }

  .forms {
    margin: 30px 15%;
    column-gap: 30px;
  }

  .sendBtn {
    width: 100px;
  }
}

@media (max-width: 778px) {
  .formContainer {
    border: 1px solid black;
    border-radius: 5px;
  }

  .forms {
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 443px) {
  .formContainer h1 {
    font-size: 30px;
  }

  .forms {
    width: 100%;
    height: 100%;
  }

  .formContainer .forms input {
    width: 100%;
    border-radius: 5px;
    padding: 4px 15px;
  }

  .formContainer .forms .form-group label {
    width: 0;
    height: 0;
    white-space: nowrap;
    overflow: hidden;
    border: none;
  }

  .sendBtn {
    height: 30px;
    width: 100px;
    font-size: 0.92rem;
  }
}

@media (max-width: 353px) {
  .formContainer h1 {
    font-size: 25px;
  }

  .formContainer .forms input {
    width: 90%;
  }
}
