<div class="newPasswordContainer">
  <div class="header">
    <div class="back" (click)="route.navigate(['/'])">
      <img src="../../../../assets/back.svg" alt="" />
      <p>Voltar</p>
    </div>
    <div class="logo">
      <img src="../../../../assets/standLogo.png" alt="" />
    </div>
  </div>
  <form
    (ngSubmit)="submit()"
    [formGroup]="newPassForm"
    #formDir="ngForm"
    class="forms"
  >
    <div class="form-group">
      <label for="password">Senha:</label>
      <input
        type="text"
        formControlName="password"
        id="password"
        placeholder="Senha do usuário"
      />
      <div class="errors" *ngIf="formDir.submitted && newPassForm.invalid">
        <p *ngIf="password!.errors?.['required']">Este campo é obrigatório!</p>
        <p *ngIf="password!.errors?.['minLengthError']">
          Escreva o mínimo 6 caracteres!
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPass">Confirmar senha:</label>
      <input
        type="text"
        formControlName="confirmPass"
        id="confirmPass"
        placeholder="Confirmar Senha"
      />
      <div class="errors" *ngIf="formDir.submitted && newPassForm.invalid">
        <p *ngIf="confirmPass!.errors?.['required']">
          Este campo é obrigatório!
        </p>
        <p
          *ngIf="
            newPassForm.get('confirmPass')!.value !=
            newPassForm.get('password')!.value
          "
        >
          A senha escrita não está correta!
        </p>
      </div>
    </div>
    <button type="submit" class="sendBtn">Enviar</button>
  </form>
</div>
