.nContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.newPasswordContainer {
  width: 50vw;
  height: 70vh;
  border-radius: 20px;
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.header {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo img {
  max-width: 184px;
  max-height: 74px;
}

.back {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.back p {
  font-size: 13px;
}

.forms {
  width: 90%;
  height: 95%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 35px;
}

.forms .form-group {
  width: 100%;
  font-size: 14px;
  display: grid;
  margin-bottom: 30px;
}

.form-group label {
  height: fit-content;
  border-left: 3px solid var(--green);
  margin-bottom: 5px;
  padding-left: 5px;
}

.form-group input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 0 5px;
}

.sendBtn {
  grid-area: btn;
  background-color: var(--green);
  color: #fff;
  width: 75px;
  height: 30px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.7px;
  transition: all 0.3s;
  font-size: 17px;
}

.sendBtn:hover {
  background-color: #003604;
}

.infos {
  font-size: 14px;
  max-width: 40%;
  margin: 5px 0 30px 0;
}

.information {
  max-width: fit-content;
  border-bottom: 2px solid var(--green);
}

.information ~ p {
  max-width: 100%;
  text-align: justify;
}

@media (max-width: 854px) {
  .newPasswordContainer {
    width: 90vw;
  }
}

@media (max-width: 600px) {
  .newPasswordContainer {
    box-shadow: none;
    border: 1px solid black;
    border-radius: 5px;
  }
}

@media (max-width: 350px) {
  .newPasswordContainer {
    transform: scale(0.8);
    height: fit-content;
  }
}
