.formContainer {
  height: 100%;
  width: calc(935px - 378px);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

a {
  color: var(--green);
  transition: all 0.3s;
}

a:hover {
  color: var(--green);
}

.forms {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: grid;
  gap: 45px;
  margin-top: 30px;
}

.forms .form-group {
  width: 100%;
  height: fit-content;
  font-size: 14px;
  display: grid;
}

.form-group label {
  height: fit-content;
  border-left: 3px solid var(--green);
  margin-bottom: 5px;
  padding-left: 5px;
}

.form-group input {
  width: auto;
  max-width: 500px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.links {
  display: flex;
}

.sendBtn {
  background-color: var(--green);
  color: #fff;
  max-width: 90px;
  height: 25px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.7px;
  transition: all 0.3s;
}

.sendBtn:hover {
  background-color: #003604;
}

.forgotPass,
.notAccount {
  width: fit-content;
  max-width: 100%;
}

@media (max-width: 1235px) {
  .formContainer {
    max-width: 100%;
  }
}

@media (max-width: 993px) {
  .formContainer {
    width: 70vw;
    border: none;
  }

  .formContainer h1 {
    border-bottom: 2px solid var(--green);
  }

  .forms {
    margin: 30px 15%;
    max-height: 50%;
    column-gap: 30px;
  }

  .sendBtn {
    width: 100px;
  }
}

@media (max-width: 778px) {
  .formContainer {
    border-radius: 5px;
  }

  .forms {
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 443px) {
  .formContainer h1 {
    font-size: 30px;
  }

  .forms {
    width: 100%;
    height: 100%;
  }

  .formContainer .forms input {
    width: 100%;
    border-radius: 5px;
    padding: 4px 15px;
  }

  .formContainer .forms .form-group label {
    width: 0;
    height: 0;
    white-space: nowrap;
    overflow: hidden;
    border: none;
  }

  .sendBtn {
    height: 30px;
    width: 100px;
    font-size: 0.92rem;
  }
}

@media (max-width: 353px) {
  .formContainer {
    transform: scale(0.8);
    height: fit-content;
    width: 99vw;
  }
  .formContainer h1 {
    font-size: 25px;
  }

  .formContainer .forms input {
    width: 90%;
  }
}
