<div class="formContainer">
  <h1>Faça o login</h1>
  <form
    class="forms"
    (ngSubmit)="submit()"
    [formGroup]="authForm"
    #formDir="ngForm"
  >
    <div class="form-group email-group">
      <label for="email">E-mail:</label>
      <input
        type="email"
        formControlName="email"
        id="email"
        placeHolder="E-mail do usuário"
      />
      <div class="errors" *ngIf="email!.errors && formDir.submitted">
        <p *ngIf="email!.errors?.['required']">Este campo é obrigatório!</p>
        <p *ngIf="email!.errors?.['minLengthError']">
          Escreva no mínimo 5 caracteres!
        </p>
        <p *ngIf="email!.errors?.['email']">E-mail incorreto!</p>
      </div>
    </div>

    <div class="form-group pass-group">
      <label for="password">Senha:</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        placeHolder="Senha de usuário"
      />
      <div class="errors" *ngIf="password!.invalid && formDir.submitted">
        <p *ngIf="password!.errors?.['required']">Este campo é obrigatório!</p>
        <p *ngIf="password!.errors?.['minLengthError']">
          Escreva o mínimo 6 caracteres!
        </p>
      </div>
    </div>
    <div class="form-group">
      <p class="forgotPass">
        Esqueceu a senha?<a routerLink="verification">Clique aqui!</a>
      </p>
      <p class="notAccount">
        Não Possui conta?<a routerLink="register">Cadastre-se</a>
      </p>
    </div>
    <button type="submit" class="sendBtn">Entrar</button>
  </form>
</div>
