.loginContainer {
  max-width: 935px;
  height: 422px;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 955px) {
  .loginContainer {
    width: 70vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
