.usersContainer > .users {
  background-color: #fff;
  width: 100%;
  height: 73px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  padding: 0 15px;
}

.night .usersContainer > .users {
  background-color: #050505;
  color: #fff;
  box-shadow: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile div {
  display: grid;
}

.profile div span:first-child {
  font-weight: lighter;
}

.profile div span:last-child {
  color: #a9a9a9;
  font-size: 12px;
  font-weight: bold;
}

.usersContainer .email {
  color: #a9a9a9;
  font-size: 16px;
  font-weight: bold;
}

.edit-status img {
  height: 15px;
  width: 15px;
}

.edit-status .edit-block div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
}

.edit-status .status {
  color: #a9a9a9;
  font-weight: bold;
  font-size: 12px;
}

.edit-status .status .on-off {
  display: flex;
  align-items: center;
  gap: 5px;
}

.edit-status .status .on-off div {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

@media (max-width: 616px) {
  .uContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
  }

  .users {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 200px;
    flex-flow: column;
    position: relative;
  }

  .users .profile {
    width: 100%;
    text-align: start;
    margin: 10px;
  }

  .users .email {
    width: 80%;
    height: 50%;
    overflow: auto;
    word-wrap: break-word;
    text-align: justify;
  }

  .users .edit-status {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 603px) {
  .edit-status {
    position: absolute;
    margin-top: 45px;
    left: 15px;
  }
}
