<div #usersContainer class="uContainer">
  <div *ngFor="let user of usersArr" class="usersContainer">
    <div class="users">
      <div class="profile">
        <img src="../../../../assets/profile.svg" alt="" />
        <div>
          <span>{{ user.name }}</span>
          <span>{{ user.Roles!.Role }}</span>
        </div>
      </div>
      <div class="email">{{ user.email }}</div>
      <div class="edit-status">
        <div class="edit-block">
          <div *ngIf="roleId == '4'" (click)="editAction(user.id!)">
            <img
              src="../../../../assets/edit.svg"
              alt="editar"
              title="editar"
              class="actions"
            />
            Editar
          </div>

          <div class="status">
            <div
              class="on-off"
              *ngIf="isLoged == true && usersId[0] == user.id; else off"
            >
              <div
                [ngStyle]="{
                  'background-color': '#0f4',
                  'box-shadow': ' 0 0 3px 0 #0f4,0 0 4px 0px #0f4'
                }"
              ></div>
              Online
            </div>
            <ng-template #off>
              <div class="on-off">
                <div
                  [ngStyle]="{
                    'background-color': 'red',
                    'box-shadow': '0 0 3px 0 red, 0 0 4px 0px red'
                  }"
                ></div>
                Offline
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <ng-template #tr>
      <div>
        <div *ngFor="let user of userEdit" class="usersContainer">
          <div class="profile">
            <img src="../../../../assets/profile.svg" alt="" />
            <div>
              <span>{{ user.name }}</span>
              <span>{{ user.Roles!.Role }}</span>
            </div>
          </div>
          <div class="email">{{ user.email }}</div>
          <div class="edit-status">
            <div class="edit-block">
              <div *ngIf="roleId == '4'" (click)="editAction(user.id!)">
                <img
                  src="../../../../assets/edit.svg"
                  alt="editar"
                  title="editar"
                  class="actions"
                />

                Editar
              </div>
              <div *ngIf="roleId != '4'">
                <img
                  src="../../../../assets/block.svg"
                  alt="bloqueado"
                  title="bloqueado"
                />
                Bloqueado
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
